<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ensias Filiere</title>
    <link  href="../static/styles/contact_styles.css"
           th:href="@{/styles/contact_styles.css}" rel="stylesheet"/>
</head>
<body>
    <h3>TEST</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Abrv</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="f:${filieres}">
                <td th:text="${f.id}"></td>
                <td th:text="${f.abrv}"></td>
                <td th:text="${f.nom}"></td>
                <td th:text="${f.description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>